body{
    margin: 0;
    padding: 0;
    font-family: verdana;
    /*box-sizing: border-box;*/
}


 .main{
  width: 100%
  height: 1920px;
  position: relative;
  overflow: hidden;

 }

 nav{
  width: 100%;
  position: sticky;
  margin: -22px auto;
  z-index: 1;
  display: flex;
  text-align:right 80 px;
  /*bottom: 100px;*/


 }
 .logo{
  flex-basis: 20%;
  bottom: 150%;

 }
 .logo img{
  width: 150px;
  padding: 10px;

 }

 .nav-links{
  height: 10px;
  padding: 35px;
  flex:1;
  text-align: right;
  flex: right;
 }

 .nav-links ul li{
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  position: relative;

 }
.nav-links a{
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
 }
 .nav-link:hover{
  border-bottom: 1px solid black;
 }
 .nav-link a:hover{
  color:black;
 }
 .text{
  position: relative;
  text-align: center;
  bottom: 650px;
  font-family: Roboto;
  color: #e3dac9;
  font-size: 50px;

 }


.contact{
background-color:#e3dac9;
position: relative;
padding: 50px 100px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-size: cover;

}
.contact .content{
max-width: 800px;
text-align: center;
}
.contact .content h1{
font-size:36px;
font-weight: 500;
color:black;
}
.contact .content p{
font-weight: 500;
font-size:19px;
color:black;
}

.contactForm{
width: 40%;
padding: 40px;
background: #fff;
}
.contactForm h2{
font-size: 35px;
color: #333;
font-weight: 500;
}
.contactForm .inputBox{
position: relative;
width: 100%;
margin-top: 10px;

}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
width: 100%;
padding: 5px 0;
font-size: 20px;
margin: 10px 0;
border:none;
border-bottom: 2px solid #333;
outline: none;
resize: none;
}
.contactForm .inputBox span{
position: absolute;
left: 0;
padding: 5px 0;
font-size: 18px;
margin: 10px 0;
pointer-events: none;
transition: 0.5s;
color: #666;
}
.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span
{
color: #e91e63;
font-size: 16px;
transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
width: 100px;
background: #00bcd4;
color: #fff;
border:none;
cursor: pointer;
padding:10px;
font-size: 18px;
}
/*Radio buttons*/

.wrapper{
  display: inline-flex;
  background: #fff;
  height: 30px;
  width: 120px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  margin:20px;
  padding-left:50px; 
  /*box-shadow: 5px 5px 30px rgba(0,0,0,0.2);*/
}
.wrapper .option{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: #0069d9;
  background: #0069d9;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}