body{
    margin: 0;
    padding: 0;
    font-family: verdana;
    box-sizing: border-box;	
}

body{
	
	font-size: 15px;
	font-family: sans-serif;
	font-family: 'Montagu Slab', serif;
    font-family: 'Open Sans', sans-serif;
}

 .main{
 	width: 100%
 	height: 100vh;
 	position: relative;
 	overflow: hidden;

 }

 nav{
 	width: 100%;
 	position: sticky;
 	margin: 20px auto;
 	z-index: 1;
 	display: flex;
 	text-align:right 50 px;


 }
 .logo{
 	flex-basis: 20%;

 }
 .logo img{
 	width: 150px;
 }

 .nav-links{
 	height: 10px;
 	padding: 35px;
 	flex:1;
 	text-align: right;
 	flex: right;
 }

 .nav-links ul li{
 	list-style: none;
 	display: inline-block;
 	margin: 0 10px;

 }
.nav-links a{
 	color: #8a8a8a;
 	text-decoration: none;
 	transition: color 0.5s;
 }
 .nav-link:hover{
 	border-bottom: 1px solid black;
 }
 .nav-link a:hover{
 	color:black;
 }
center{
   background-color: orange;
   color:white;
}
.contact{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; 
	background-size: cover;

}
.contact .content{
	max-width: 800px;
	text-align: center;
}
.contact .content h2{
	font-size:36px;
	font-weight: 500;
	color:#fff;
}
.contact .content p{
	font-weight: 500;
	color:black;
}
.containerr{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items:center;
	margin-top: 30px;

}
.containerr .contactInfo{
	width: 50%;
	display: flex;
	flex-direction: column;

}
.containerr .contactInfo  .box{
	position: relative;
	padding: 20px 0;
	display: flex;
}
.containerr .contactInfo .box .text{
	display: flex;
	margin-left: 20px;
	font-size:16px;
	color:black;
	flex-direction: column;
	font-weight: 300;
}
.containerr .contactInfo .box .text h3{
	font-weight: 500;
	color: #00bcd4;
}
.contactForm{
	width: 40%;
	padding: 40px;
	background: #fff;

}
.contactForm h2{
	font-size: 30px;
	color: #333;
	font-weight: 500;
}
.contactForm .inputBox{
	position: relative;
	width: 100%;
	margin-top: 10px;

}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
	width: 100%;
	padding: 5px 0;
	font-size: 18px;
	margin: 10px 0;
	border:none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}
.contactForm .inputBox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}
.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span
{
	color: #e91e63;
	font-size: 12px;
	transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
	width: 100px;
	background: #00bcd4;
	color: #fff;
	border:none;
	cursor: pointer;
	padding:10px;
	font-size: 18px;	 
}



table{
	bottom: 300px;
	margin: -380px auto;
	color: #e3dac9;
}
table th{
	text-align: center;
	padding:  7px 35px 7px 14px;
	font-size: 45px;
	
}

table td{

	text-align: center;
	padding: 1px 5px;
	font-size: 25px;
	word-spacing: 30%;

	
}

.photo{
	margin: auto;
	background:#f2f2f2;
	overflow: auto;
	padding: 55px;

}
.gallery{
	margin: 5px;
	border:2px solid black;
	float:left;
	width: 400px;

}
.gallery img{
	width: 396px;
	height: 240px;
	align-items: center;

}
.description{
	padding:10px; 
	font-size:17px;
	font-family: Roboto;
	text-align: center;
	font-weight:bold;

}
#food{
	font-size: 40px;
	text-align: center;
	font-family: roboto;
	color: #8a8a8a;
	align-items: center;
	margin: 370px;
	background-size: cover;
}
.container2{
	top: 300%;
	max-width: 1304px;
	margin: auto;
	background: #e3dac9;
	overflow: auto;

}

.gallery2{
	margin: 13px;
	/*border: 1px solid #e5d4bd;*/
	float: left;
	width: 390px;

}
.gallery2 img{
	width: 100%;
	height: auto;

}
.description2{
	padding: 10px;
	text-align: center;
	color:#696969;
}


